.post-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: sticky;
  z-index: 500;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.7);
}

.post-modal-container {
  background-color: white;
  width: 90%;
  min-height: 100vh;
  max-width: 1200px;
  z-index: 600;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid rgb(179, 179, 179);
}
