* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.sign-up-container {
  min-width: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 142, 243, 1) 66%
  );
}

.sign-up-form-container {
  width: 90%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 40px;
}

.sign-up-title {
  color: #698ef3;
  font-weight: normal;
}

.sign-up-form {
  color: #698ef3;
  font-weight: normal;
}

.first-last-container {
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sign-up-input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border-color: #bebebe;
  background-color: #fcfcfc;
  border-style: solid;
  border-width: 0.1px;
  padding: 1px 10px;
  margin: 10px 0;
}

#first-input {
  margin-right: 5px;
}

#last-input {
  margin-left: 5px;
}

.login-input::placeholder {
  color: #bebebe;
}

.login-input:-ms-input-placeholder {
  color: #bebebe;
}

.login-input::-ms-input-placeholder {
  color: #bebebe;
}

.login-button {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #698ef3;
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  cursor: pointer;
  margin: 10px 0;
}

.login-button:hover {
  background-color: #6187f0;
}

.link {
  color: #6187f0;
  cursor: pointer;
  margin: 10px 0;
}

.justify-start {
  justify-content: flex-start;
}

.profile-photo {
  background: none;
  cursor: pointer;
  color: #ff5700;
  border: none;
  margin-right: 5px;
  font-size: 1.1em;
}

.cover-photo {
  background: none;
  cursor: pointer;
  color: #066030;
  border: none;
  margin-right: 5px;
  font-size: 1.1em;
}

.already-account {
  color: black;
}
