.navbar {
  height: 100%;
  padding: 5px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text-input {
  height: 40px;
  min-width: 300px;
  border-radius: 5px;
  border-color: #bebebe;
  background-color: #fcfcfc;
  border-style: solid;
  border-width: 0.1px;
  padding: 1px 10px;
  color: #bebebe;
  border: none;
}

.navbar-search-results {
  z-index: 100;
  position: absolute;
  background-color: white;
  min-width: 300px;
  -webkit-box-shadow: 5px 13px 23px 5px #cccccc;
  box-shadow: 5px 13px 23px 5px #cccccc;
}

.navbar-search-item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.navbar-search-item:hover {
  background-color: rgb(241, 241, 241);
}

.nav-search-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 5px;
  object-fit: cover;
}

.nav-search-name {
  font-weight: bold;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: blue;
}

.nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60px;
}

.user-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: blue;
  object-fit: cover;
}

.user-dropdown {
  cursor: pointer;
}

.user-dropdown-modal {
  position: absolute;
  background: white;
  border: solid 1px gray;
  top: 100%;
  z-index: 100;
  right: 0;
  min-width: 60px;
  -webkit-box-shadow: 5px 13px 23px 5px #cccccc;
  box-shadow: 5px 13px 23px 5px #cccccc;
}

.user-dropdown-modal-item {
  padding: 10px;
  cursor: pointer;
}

.user-dropdown-modal-item:hover {
  color: #bebebe;
}

@media (max-width: 800px) {
  .user-name {
    display: none;
  }
}
